In [1]:
2 < 10

True

In [2]:
10 == 1

False

In [3]:
"abc".__eq__("abc")

True

In [4]:
a = 10
b = 20
if a < b: 
    print(" a < b")
else: 
    print("a >= b")

 a < b

In [5]:
if True: 
    print("Este bloque siempre se ejecuta")

Este bloque siempre se ejecuta

In [12]:
my_list = []
print(my_list)
if my_list:
    print("my_list es truthy")
else: 
    print("my_list no es truthy")

my_list1 = [1,2,3]
print(my_list1)
if my_list1:
    print("my_list1 es truthy")
else: 
    print("my_list1 no es truthy")

[]
my_list no es truthy
[1, 2, 3]
my_list1 es truthy

In [14]:
my_list1.pop() #permite sacar ultimo elemento

3

In [18]:
my_tuple = 1,2,3
my_tuple

(1, 2, 3)

In [21]:
type(my_tuple)

tuple

In [22]:
my_empty_tuple = ()
my_empty_tuple

()

In [23]:
if not my_empty_tuple:
    print("Esto es vacio")

Esto es vacio

In [24]:
saludo = "Hola Mundo"
saludo

'Hola Mundo'

In [25]:
saludo = 'Hola Mundo'
saludo

'Hola Mundo'

In [ ]:
"aba".replace("a", "A")

'AbA'

In [27]:
my_str= "aba"
print(hex(id(my_str)))

0x152c9514ba0

In [28]:
my_str1 = r"Line1\nLine2\nLine3"
print(my_str1)

Line1\nLine2\nLine3

In [30]:
a = 10
b = 2
print(f"Resultado: {a}") #sustituir

Resultado: 10

In [32]:
print(f"Resultado: {a*b}")

Resultado: 20

In [ ]:
my_float = 0.12345
my_fstring = f"Mi flotante es {my_float}" #mal formateado
print(my_fstring)

Mi flotante es 0.12345

In [36]:
my_float = 0.128
my_fstring = f"Mi flotante es {my_float: .2f}" #bien formateado
print(my_fstring)

Mi flotante es  0.13

In [37]:
my_list = [10, 20, 30]
len(my_list)

3

In [39]:
my_list.__len__()

3

In [40]:
len("Hola mundo")

10

In [41]:
#Acceder a elementos con secuencias
my_seq = 3.14, "pi", (1, "Madrid")
my_seq

(3.14, 'pi', (1, 'Madrid'))

In [43]:
my_seq[2]

(1, 'Madrid')

In [44]:
my_seq[len(my_seq)-1]

(1, 'Madrid')

In [45]:
my_seq[-1]

(1, 'Madrid')

In [48]:
print(my_seq)
my_seq[-2]

(3.14, 'pi', (1, 'Madrid'))

'pi'