In [ ]:
a = 20
b = 2
try:
    res = a / b
    print("Resultado a / b = ", res)
except ZeroDivisionError:
    print("Error: Intentando dividir por 0")
    print("Asignando None...")
    res = None

res

Resultado a / b =  10.0

10.0

In [ ]:
a = 20
b = 0
try:
    res = a / b
    print("Resultado a / b = ", res)
except ZeroDivisionError:
    print("Error: Intentando dividir por 0")
    print("Asignando None...")
    res = None

res

Error: Intentando dividir por 0
Asignando None...

In [8]:
a = 20
b = 0
try:
    res = a / b
    print("Resultado a / b = ", res)
except ZeroDivisionError:
    print("Error: Intentando dividir por 0")
    print("Asignando None...")
    raise ZeroDivisionError("Error 1")

res.__repr__()

Error: Intentando dividir por 0
Asignando None...

ZeroDivisionError: Error 1

*ITERADORES*

In [10]:
my_iterable = [1, 2, 3, 4]
my_iterable

[1, 2, 3, 4]

In [11]:
my_iterable.__iter__()

In [12]:
iter(my_iterable)

In [13]:
iter("Hola mundo")

Iterables no tienen funcion next

In [26]:
my_iter = iter([1,2,3])

In [27]:
next(my_iter)

1

In [ ]:
next(my_iter)

2

In [29]:
next(my_iter)

3

In [ ]:
next(my_iter)
#aqui ha recorrido todo

StopIteration:

In [31]:
my_iter, iter(my_iter)

(<list_iterator at 0x2aa34d4c670>, <list_iterator at 0x2aa34d4c670>)

*OBJETO GENERADOR "RANGE"*

In [35]:
start = 1
stop = 3
step = 1
my_range = iter(range(start, stop, step))
my_range

In [36]:
next(my_range)
#hay que convertirlo en iterador para que no de error

1

In [37]:
next(my_range)

2

In [39]:
next(my_range)
#da error porque el stop está en el 3

StopIteration:

In [40]:
a = 3
while a < 6:
    print(f"{a = }")
    if a == 4:
        break
    a += 1

a = 3
a = 4

In [41]:
a = 3
while a < 6:
    if a == 4:
        a+=1
        continue
    print(f"{a = }")
    a += 1

a = 3
a = 5

In [42]:
my_iterable = 10,20,30
for el in my_iterable:
    print(f"{el = }")

el = 10
el = 20
el = 30

In [44]:
my_iterable = "abc"
try:
    my_iter = iter(my_iterable)
    while True:
        print(f"El resultado es {next(my_iter)}")
except StopIteration:
    pass

El resultado es a
El resultado es b
El resultado es c